/* styles.css */

/* Global Styles */
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Courier New", Courier;
  background-color: rgb(184, 203, 185);
  color: #333;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  font-weight: 900;
}

a[aria-current] {
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Navigation Bar */
nav {
  height: 10vh;
  background: transparent;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  display: flex;
  padding-top: 20px;
}

nav li {
  margin: 0 15px;
}

nav a {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

/* Main Sections */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-main {
  height: calc(80vh + 10vh);
}

.home-section,
.about-section,
.contact-section {
  max-width: 1000px;
}

.about-section {
  margin-inline: 20px;
}

.home-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.social-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  transition: color 0.3s ease;
}

.social-links img {
  height: 50px;
  margin-bottom: 10px;
}

.projects-main {
  display: flex;
  flex-direction: column;
}
.projects-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: scroll;
}

/* Footer */
footer {
  height: 10vh;
  text-align: center;
  background: transparent;
  font-size: 0.9rem;
  p {
    padding-top: 20px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  p {
    font-size: 0.75rem;
  }

  .about-main {
    min-height: calc(80vh - 69px);
  }

  nav ul {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
  }

  .social-links {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1512px) {
  .projects-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 32px;
  }
}
